<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">SCRAWL</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li><a href="{{ path('artists') }}">Artists</a></li>

      {% if not app.user %}
      <li ><a href="{{ path('login') }}">Login</a></li>
      <li ><a ng-click="showRegModal()">Register</a></li>
      {% else %}
      <li><a href="{{ path('photo_new') }}">Upload</a></li>
      <li ><a href="{{ path('user_show', { 'id': app.user.id }) }}">My Profile</a></li>
      <li ><a href="{{ path('logout') }}">Logout</a></li>
      {% endif %}

      {% if is_granted('ROLE_ADMIN') %}
      <div class="btn-group pull-right">
        <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">
          Manage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
          <li><a href="{{ path('user') }}">Users</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('photo') }}">Photos</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('tag') }}">Tags</a></li>
          
        </ul>
      </div>
      {% endif %}

    </ul>
    

  </div><!-- /.navbar-collapse -->

</nav><!-- /navbar -->
