{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Geolocation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Postalcode</th>
                <th>Country</th>
                <th>Region</th>
                <th>City</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Streetaddress</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('geolocation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.postalCode }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.streetAddress }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('geolocation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('geolocation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('geolocation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
