{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Geolocation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Postalcode</th>
                <td>{{ entity.postalCode }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Streetaddress</th>
                <td>{{ entity.streetAddress }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('geolocation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('geolocation_edit', { 'postalCode': entity.postalCode }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
