{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
            <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Selfsummary</th>
                <td>{{ entity.selfSummary }}</td>
            </tr>
        </tbody>
    </table>

    <div ng-controller="PhotoCtrl" class="col-md-8" data-ng-init="getUserPhotos()">

            <div deckgrid class="deckgrid" source="userPhotos">
                
                <div ng-style="{'border':'solid 10px'}" class="a-card" ng-attr="[[card.key]]">

                    <img 
                    height="100%" width="100%" data-ng-src="[[card.value]]">

                </div>
            </div>
        </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.username }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
