{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
            <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Selfsummary</th>
                <td>{{ entity.selfSummary }}</td>
            </tr>
        </tbody>
    </table>

    <div ng-controller="PhotoCtrl" class="col-md-8" data-ng-init="getUserPhotos()">

            <div deckgrid class="deckgrid" source="userPhotos">
                
                <div ng-style="{'border':'solid 10px'}" class="a-card" ng-attr="[[card.key]]">

                    <img
                    ng-click="mother.getArtInfo([[card.key]])" 
                    height="100%" width="100%" data-ng-src="[[card.value]]">

                </div>
            </div>
        </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.username }) }}">
            Edit
        </a>
    </li>
</ul>


<div ng-controller="PhotoCtrl">
    <script type="text/ng-template" id="modal.html">
    <div class="modal-header">
    <h3 class="modal-title"><p>[[artInfo.device]]</p></h3>
    </div>
    <div class="modal-body">
    <h4>date</h4>
    <p>[[artInfo.uploadDate]]</p>
    <h4>view count</h4>
    <p>[[artInfo.viewCount]]</p>
    <h4>where?</h4>
    <p>[[artInfo.latitude]] , [[artInfo.longitude]]</p> 

    <img 
    height="100%" width="100%" data-ng-src="[[artInfo.path]]">

    </div>
    <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
    </script>
</div>
{% endblock %}
